@model marketplace.ViewModels.AdminViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Buat Admin Baru</h4>
            <p class="card-description">
                Masukkan informasi admin dalam form berikut
            </p>
            <form class="forms-sample" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" for="exampleInput1"></label>
                    <input class="form-control" id="exampleInput1" placeholder="Email" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nama" for="exampleInput1"></label>
                    <input class="form-control" id="exampleInput1" placeholder="Name" asp-for="Nama">
                    <span asp-validation-for="Nama" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoHp" for="exampleInput2"></label>
                    <input class="form-control" id="exampleInput2" placeholder="NoHp" asp-for="NoHp">
                    <span asp-validation-for="NoHp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" for="exampleInput2"></label>
                    <input class="form-control" id="exampleInput2" placeholder="Username" asp-for="Username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" for="exampleInput2"></label>
                    <input class="form-control" id="exampleInput2" placeholder="Password" asp-for="Password" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}