@using Microsoft.AspNetCore.Mvc.Rendering;
@model marketplace.ViewModels.ProdukViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h4>Edit Produk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdProduk" type="hidden" class="form-control">
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harga" class="control-label"></label>
                <input asp-for="Harga" class="form-control" />
                <span asp-validation-for="Harga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stok" class="control-label"></label>
                <input asp-for="Stok" class="form-control" />
                <span asp-validation-for="Stok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GambarFile" class="control-label"></label>
                <input asp-for="GambarFile" type="file" class="form-control" />
                <span asp-validation-for="GambarFile" class="text-danger"></span>
                <img src="~/@Model.GambarSrc" height="100" />
            </div>
            <div class="form-group">
                <label asp-for="KategoriId" class="control-label"></label>
                <select asp-for="KategoriId" multiple class="form-select" asp-items="@ViewBag.KategoriDataSource">

                </select>
                <span asp-validation-for="KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }