@model IEnumerable<marketplace.ViewModels.KategoriViewModel>
@{
    ViewData["Title"] = "Daftar Kategori";
    Layout = "_AdminLayout";
    int i = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List Kategori</h4>
            <p class="card-description">
                <a asp-action="Create">Tambah Kategori</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Icon</th>
                            <th>Nama</th>
                            <th>Deskripsi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td><img src="~/@item.Icon" height="100" /></td>
                                    <td>@item.Nama</td>
                                    <td>@item.Deskripsi</td>
                                    <td>
                                        <i class="mdi mdi-pencil"></i>
                                        <a href="/Kategori/edit/@item.Id">Edit</a><br><br>
                                        <i class="mdi mdi-delete"></i>
                                        <a href="/Kategori/delete/@item.Id">Hapus</a><br><br>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Data kosong</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* <form asp-action="delete" method="post">
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="pos_middle">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-body" style="padding: 20px 25px;">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
    aria-hidden="true">&times;</span></button> -->
    <h4 class="text-center font-grey-gallery" style="font-weight: 600;">Are you sure to delete this
    item?</h4>
    <br />
    <div class="row">
    <input type="hidden" id="itemId" name="id" />
    <div class="col-md-6">
    <button type="submit" class="btn btn-block green uppercase" data-backdrop="static"
    data-keyboard="false">Yes</button>
    </div>
    <div class="col-md-6">
    <a href="#" class="btn btn-block red uppercase" data-backdrop="static"
    data-keyboard="false" data-dismiss="modal">Cancel</a>
    </div>
    </div>
    </div>
    </div>
    <!-- /.modal-content -->
    </div>
    </div>
    <!-- /.modal-dialog -->
    </div>
    </form> *@


@*
    @section Scripts {
    <script type="text/javascript">
    $(document).ready(function(){
    //Show modal for delete confirmation
    $(document).on("click", ".btn-delete", function () {

    var id = $(this).data('id');
    console.log('id kategori: ' + id);
    //ubah value yang id = itemId yang ada di dalam class .modal-body
    $(".modal-body #itemId").val(id);
    //tampilkan modal/dialog
    $("#confirmDelete").modal('show');
    });
    });
    </script>
    } *@