@model marketplace.Datas.Entities.Produk;

@{
    ViewData["Title"] = "Hapus Produk";
}
<h1>@ViewData["Title"]</h1>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(m => m.Nama)
    </dt>
    <dd>
        <input type="submit" value="hapusProduk" class="btn btn-primary" />
    </dd>
</dl>